
/*tab却换*/
.tab{clear:both;border:0px solid #a8aaa9;margin:15px 0 0 10px;overflow:hidden}
.tab .tabheader{clear:both;height:25px;text-align:left;overflow:hidden;border:1px solid #a8aaa9;border-width:0px 0px 1px 0px;padding:0 0 0 15px}
.tab .tabheader dd.current{float:top;background:#fff;height:25px;padding:5px 0 0 2px;font-weight:bold;background:url(images/tab_over.png) no-repeat 0 0;}
.tab .tabheader dd{float:left;text-align:center;font-weight:bold;width:86px;height:25px;padding:5px 0 0 2px;cursor:pointer;}
.tab .tabheader dd.current a{color:#d41e18;font-weight:bold;text-decoration:none;}

.tab .tabcontent{clear:both;padding:10px 6px 8px 2px;}
.tab .tabcontent dd{display:none}

