@import url(/e/css/comm.css);

/*网站基础样式*/
body,div,ul,li,dl,dd,table,p,h1,form,legend,fieldset,input button,select,textarea,button{margin:0px;padding:0px;font-family:inherit;font-size:inherit;}
ul,li{list-style:none;}
a{color:#333333;text-decoration:none;}
a:hover{color:#CC0000;text-decoration:underline}

body{word-wrap:break-word;text-align:center;font:12px/1.6em Verdana,Tahoma,Helvetica,Arial,sans-serif;}
.page_style{width:1000px;margin:0px auto 0px auto;text-align:center;background-color:#ffffff;overflow:hidden;}
.left{float:left}
.right{float:right}
.clear{clear:both;font-size:0px;height:0px;line-height:0px;width:0px;margin:0 0 0 0;padding:0 0 0 0;overflow:hidden}


/*顶部及主菜单样式*/

.top_box{clear:both;width:100%;}
.top_box .logo{float:left;text-align:left;padding:5px 0 5px 0}
.top_box .topcontent{float:right;text-align:right;padding:5px 0 5px 0}
.menu_box{text-align:left;height:35px;background:url(images/menu_bg.jpg) repeat 0 0;border:0 solid #dddddd;padding-left:10px;}

.menu_style_homepage{float:left;text-align:center;}
.menu_style{float:left;text-align:center;}

a.menu{display:block;height:28px;width:110px;color:#ffffff;text-decoration: none;font-weight:bold;padding:7px 0 0 0}
a.menu:hover{color:#ffffff;}

.menu_current a.menu{background:url(images/menu_bg_1.jpg) no-repeat center top;}

/*banner样式*/
.banner{clear:both;padding:0 0 0 0;margin:2px 0 0 0;text-align:left}
.smallbanner{clear:both;padding: 0 0 0 0;margin:0 0 5px 0;text-align:left}

/*网站主体框架样式*/

.main_box_style{clear:both;margin:5px 0 0 0;overflow:hidden;}

.main_box_style1{clear:both;margin:5px 0 0 0;overflow:hidden;}
.main_box_style1 .main_box_inner_left{float:left;width:220px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style1 .main_box_inner_right{float:right;width:770px;margin:0 0 0 0;overflow:hidden;text-align:left;}

.main_box_style2{clear:both;margin:5px 0 0 0;overflow:hidden;}
.main_box_style2 .main_box_inner_left{float:left;width:770px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style2 .main_box_inner_right{float:right;width:220px;margin:0 0 0 0;overflow:hidden;text-align:left;}

.main_box_style3{clear:both;margin:5px 0 0 0;overflow:hidden;}
.main_box_style3 .main_box_inner_left{float:left;width:220px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_middle{float:left;width:540px;margin:0 0 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_right{float:right;width:220px;margin:0 0 0 10px;overflow:hidden;text-align:left;}


/*导航样式*/
.nav_box{clear:both;margin:0 0 6px 0;padding:0 0 0 0;overflow:hidden;background:url(images/nav_bg.gif) repeat 0 0;}
.nav_sign{float:left;padding:12px 0 0 28px;text-align:center;color:#ffffff;}
.nav_more{float:right;font-weight:normal;padding:13px 10px 0 10px;margin:0 0 0 0;}
.nav_more a{line-height:15px;font-size:10px;color:#ffffff}
.nav_title{height:35px;text-align:left;font-weight:bold;background:url(images/nav_title_bg.jpg) no-repeat bottom;cursor:pointer;overflow:hidden;}
.nav_header{text-align:left;padding:0 0 0 0;margin:0 0 0 0}

.nav_content{margin:0 0 0 0;padding:5px 5px 5px 5px;text-align:left;background:url(images/nav_bg_bottom.gif) no-repeat left bottom;overflow:hidden;}

.nav_menu{margin:0 0 0 0;padding:5px 0px 5px 0;text-align:left;background:url(images/nav_bg_bottom.gif) no-repeat left bottom;}

.nav_menu li{clear:both;text-align:left;background:url(images/nav_menu_icon.gif) no-repeat 10px 10px;padding:0 0 0 20px;}
.nav_menu li a{line-height:25px;}
.nav_menu li a.current{color:#CC0000}

.nav_menu li ul li{text-align:left;background-image:none;padding:0 0 0 0;}
.nav_menu li ul li a{display:inline;line-height:22px;}
.nav_menu li ul li a.current{color:#CC0000}

.nav_menu ul li ul li ul{padding:0 0 0 15px;}
.nav_menu ul li ul li span.node{float:left;height:22px;width:15px;background:url(images/node_open.gif) no-repeat 0 0;cursor:pointer;}
.nav_menu ul li ul li span.node_close{float:left;height:22px;width:15px;background:url(images/node_close.gif) no-repeat 0 0;cursor:pointer;}
.nav_menu ul li ul li span{float:left;height:22px;width:15px;background:url(images/subnav.gif) no-repeat 0 0;}

/*模块样式*/
.module_box{clear:both;margin:0 0 10px 0;border:0 solid #cccccc;overflow:hidden;}                 /*模块整行布局样式*/
.module_box_layout_left{float:left;margin:0 0 10px 0;border:0 solid #cccccc;overflow:hidden;}  /*模块左布局样式*/
.module_box_layout_right{float:right;margin:0 0 10px 0;border:0 solid #cccccc;overflow:hidden;}   /*模块右布局样式*/

.module_box_inner{clear:both;text-align:center;padding:0px 0 5px 0;border:1px solid #D8E0E8;height:100%;overflow:hidden;}/*模块内层容器样式*/
.module_box_layout_left .module_box_inner{clear:both;text-align:center;margin:0 10px 0 0;padding:0px 0 5px 0;border:1px solid #D8E0E8;height:100%;overflow:hidden;} /*模块居左时重写内层样式*/
.delete_******{clear:both;text-align:center;margin:0 0 0 0;padding:0px 0 5px 0;border:1px solid #D8E0E8;height:100%;overflow:hidden;} /*此行可以删除*/

.module_title{margin:0 0 0 0;height:26px;text-align:left;border:0 solid #D8E0E8;border-width:1px 1px 0 1px;background:url(images/template_title_bg.jpg) repeat 0 0;overflow:hidden;}
.module_sign{float:left;text-align:center;padding:3px 0 0 25px;font-weight:bold;color:#ffffff;background:url(images/title_sign.gif) no-repeat 12px 5px;}
.module_more{float:right;font-weight:normal;padding:5px 10px 0 10px;margin:0 0 0 0;}
.module_more a{line-height:15px;font-size:12px;color:#ffffff}
.module_header{text-align:left;padding:0 0 0 0;margin:0 0 0 0}

.module_content{margin:0 0 0 0;padding:0 10px 0 10px;text-align:left;overflow:hidden;}

.module_footer{clear:both;height:1px;overflow:hidden;background-color:#cccccc;display:none}
.module_footer .l{float:left;}
.module_footer .r{float:right}

/*子栏目样式*/
.lanmupage .current_location{display:none}
.current_location{clear:both;text-align:left;height:32px;background:url(images/site_bg.jpg) repeat-x 0 0;}
.current_location_1{float:right;height:26px;padding:6px 10px 0 0;background:url(images/site_icon_right.jpg) no-repeat right top;}
.current_location_2{float:left;height:26px;padding:6px 0 0 28px;font-weight:bold;background:url(images/site_icon_left.jpg) no-repeat 0 0;}

.sublanmu_box{text-align:left;padding-bottom:10px;}
.sublanmu_content{padding:10px 10px 10px 10px;text-align:left;border:0 solid #D8E0E8;border-width:0 1px 1px 1px;}
.sublanmu_page{clear:both;text-align:center;margin:15px 0 10px 0;font-size:12px;font-family:宋体;}
.sublanmu_page a{vertical-align:middle;zoom:1;height:15px;line-height:15px;padding:2px 8px 3px 8px;border:1px solid #cccccc;}
.sublanmu_page span.c{padding:2px 2px 3px 2px;font-weight:bold;border:0px solid #cccccc;}
.sublanmu_page span{vertical-align:middle;zoom:1;height:15px;line-height:15px;padding:2px 8px 3px 8px;}

#Content{line-height:180%}
.sublanmu_pn{font-size:13px;margin:15px 0 5px 0}
.sublanmu_pn li{color:#D33506}

/*评论*/
.comments_box{text-align:left;border:1px solid #cccccc;margin:10px 0 10px 0;}
.comments_box .title{padding:2px 0 0 10px;height:20px;font-weight:bold;background-color:#ececec}
.comments_box ul li{padding:5px 0 5px 25px;}
.comments_box .textarea{width:520px;height:100px;border:1px solid #cccccc;border-color:#000000 #cccccc #cccccc #000000;}

.comments_list{padding:5px 0 0 0;border:0px solid #cccccc;overflow:hidden}
.comments_list .title{display:block;padding:2px 0 3px 5px;height:18px;width:100%;font-weight:bold;}
.comments_list .item{clear:both;margin:0 0 10px 0;overflow:hidden}
.comments_list .header{padding:3px 0 0 10px;height:22px;background-color:#eeeeee}
.comments_list .header .floornum{font-size:12px;font-style:Italic;font-weight:bold}
.comments_list .header .left{float:left}
.comments_list .header .right{float:right;padding-right:10px}
.comments_list .quote{display:block;color:#999999;padding:5px 5px 5px 10px;border:1px solid #ececec}
.comments_list .content{padding:5px 5px 5px 15px}
.comments_list .reply{background:url(public/reply.gif) no-repeat 5px 5px;border:1px dashed #cccccc;padding:2px 5px 2px 25px;margin:2px 0 5px 0;color:#D33506}

.comments_page{clear:both;vertical-align:middle;text-align:right;background-color:#ffffff;margin:10px 0 10px 0;font-family:宋体;}
.comments_page a{height:15px;line-height:15px;vertical-align:middle;zoom:1;padding:2px 8px 2px 8px;border:1px solid #cccccc;font-size:12px}
.comments_page span{height:15px;line-height:15px;vertical-align:middle;zoom:1;padding:2px 5px 2px 5px;font-size:12px}
.comments_page span.c{vertical-align:middle;padding:2px 3px 2px 3px;font-weight:bold;font-size:12px;}

/*bottom样式*/
.bottom_box{clear:both;padding:0 0 0 0;border:0 solid #666666;margin:5px 0 5px 0;text-align:left;width:100%}



/*幻灯片样式*/
.slide_box{position:relative;}
.slide_item{position:absolute;bottom:0px;right:0px;}
.slide_item li{float:left;width:22px;height:16px;overflow:hidden;background:url(public/f_off.gif) no-repeat;cursor:pointer;color:#fff;text-align:center;font-family:Arial;font-size:11px}
.slide_item li.current{background-image:url(public/f_on.gif)}
.slide_image{border:0 solid #cccccc;}
a.slide_title{font-weight:bold;margin:3px 0 2px 0;}


/*登陆界面*/
.loginbox_item{height:20px;padding:0 0 0 0;padding:0 5px 5px 0;text-align:left;font-size:9pt;}
.loginbox_textbox{width:100px;height:15px;border:0 solid #cccccc;border-width:1px 1px 1px 1px}
.loginbox_textbox_yzm{width:40px;height:15px;border:0 solid #cccccc;border-width:1px 1px 1px 1px}
.loginbox_submit{width:90px;height:20px;border:0 solid #333333;border-width:0 1px 1px 0;background-color:#dddddd;cursor:pointer;}
a.logined_href:link{font-size:9pt;color:#FF0000;text-decoration:underline}
a.logined_href:visited{font-size:9pt;color:#FF0000;;text-decoration:underline}
a.logined_href:hover{font-size:9pt;color:#FF0000;text-decoration:underline}


/*其他样式*/
.textarea{border:1px solid #cccccc;border-color:#000000 #cccccc #cccccc #000000;}
.button{width:55px;font-size:9pt;height:19px;cursor:pointer;background-image:url(public/button.gif);background-position: center center;border-top: 0px outset #eeeeee;border-right: 0px outset #888888;border-bottom: 0px outset #888888;border-left: 0px outset #eeeeee;padding-top: 2px;background-repeat: repeat-x;}
.tb{border:1px solid #cccccc;border-color:#000000 #cccccc #cccccc #000000;}
.bt{height:22px;width:70px;font-size:9pt;background-image:url(public/bt.gif);padding-top:2px;cursor:pointer;border-width:0px;}
